@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(../public/background/wp12974131-minimal-nature-4k-wallpapers.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}