@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.slate.200');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;
}

.underline-animation {
  position: relative;
  display: inline-block;
}

.underline-animation::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s ease;
  transform: translateX(-50%);
}

.underline-animation:hover::after {
  width: 100%;
}

@keyframes ping-slow {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    transform: scale(1.7);
    opacity: 0;
  }
  100% {
    transform: scale(1.9);
    opacity: 0;
  }
}

.ping-slow {
  animation: ping-slow 2.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-400 {
  animation-delay: 0.4s;
}
